@using System.Reflection

<PizzaApp.Components.SessionContainer>
    <CascadingAuthenticationState>
        <Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="Assemblies">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(PizzaApp.MainLayout)">
                    <NotAuthorized>
                        You can't be here
                    </NotAuthorized>
                </AuthorizeRouteView>
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(PizzaApp.MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingAuthenticationState>
</PizzaApp.Components.SessionContainer>

@code {
    private List<Assembly> Assemblies => new List<Assembly>() { typeof(PizzaApp.Index).Assembly };
}