@namespace PizzaApp.Components
@using System.ComponentModel.DataAnnotations

<MudGrid>
    @if(IsLoading)
    {
        <MudItem xs="12" Class="pa-10 d-flex align-self-center justify-center">
            <MudProgressCircular Color="Color.Success" Indeterminate="true" />
        </MudItem>
    }
    else
    {
        <MudItem xs="12">
            <EditForm @ref="MudForm" OnValidSubmit="CreateAccount" Model="NewUser">
                <DataAnnotationsValidator/>
                <MudGrid>
                    <MudItem xs="12" sm="12" md="6" Class="d-flex align-self-center justify-md-start justify-center">
                        <h1>Create an Account</h1>
                    </MudItem>
                    <MudItem xs="12" sm="12" md="6">
                        <UploadProfilePicture Label="Upload a Profile Picture" ReturnProfilePicture="SetProfilePicture" />
                    </MudItem>
                </MudGrid>

                <MudGrid>
                    <MudItem xs="12" sm="12" md="6">
                        <MudTextField Label="First Name" @bind-Value="NewUser.FirstName" For="@(() => NewUser.FirstName)" />
                    </MudItem>
                    <MudItem xs="12" sm="12" md="6">
                        <MudTextField Label="Last Name" @bind-Value="NewUser.LastName" For="@(() => NewUser.LastName)" />
                    </MudItem>
                </MudGrid>

                <MudGrid>
                    <MudItem xs="12">
                        <MudTextField Label="Email" @bind-Value="NewUser.Email" For="@(() => NewUser.Email)" Immediate="true" />
                    </MudItem>
                </MudGrid>

                <MudGrid>
                    <MudItem xs="12" sm="12" md="6">
                        <MudTextField InputType="InputType.Telephone" InputMode="InputMode.tel" Label="Phone Number" @bind-Value="NewUser.PhoneNumber" For="@(() => NewUser.PhoneNumber)" Immediate="true" Mask="@(new PatternMask("000-000-0000"))" autocomplete=@("mud-disabled-"+Guid.NewGuid()) />
                    </MudItem>
                    <MudItem xs="12" sm="12" md="6">
                        <MudDatePicker Label="Date of Birth" @bind-Date="NewUser.DateOfBirth" For="@(() => NewUser.DateOfBirth)" OpenTo="OpenTo.Year" Rounded="true" Elevation="12" />
                    </MudItem>
                </MudGrid>

                <MudGrid>
                    <MudItem xs="12" sm="12" md="6">
                        <MudTextField 
                            @bind-Value="NewUser.Password"
                            For="@(() => NewUser.Password)"
                            Label="Password" 
                            Variant="Variant.Text" 
                            InputType="@PasswordInput" 
                            Adornment="Adornment.End" 
                            AdornmentIcon="@PasswordInputIcon" 
                            OnAdornmentClick="TogglePasswordVisibility" 
                            AdornmentAriaLabel="Show Password"
                            Immediate="true"
                        />
                    </MudItem>
                    <MudItem xs="12" sm="12" md="6">
                        <MudTextField @bind-Value="NewUser.ConfirmPassword" 
                            For="@(() => NewUser.ConfirmPassword)"
                            Label="Confirm Password" 
                            Variant="Variant.Text" 
                            InputType="@PasswordInput" 
                            Adornment="Adornment.End" 
                            AdornmentIcon="@PasswordInputIcon" 
                            OnAdornmentClick="TogglePasswordVisibility" 
                            AdornmentAriaLabel="Show Password" 
                            Immediate="true"
                        />
                    </MudItem>
                </MudGrid>

                <MudGrid>
                    <MudItem xs="12">
                        <MudList Dense="true" Class="ma-0">
                            <MudListItem Icon="@Icons.Filled.CheckCircleOutline" IconColor="@(NewUser.PasswordInRange ? Color.Success : Color.Error)" IconSize="Size.Small" Class="py-0">
                                Between 8 and 30 characters
                            </MudListItem>
                            <MudListItem Icon="@Icons.Filled.CheckCircleOutline" IconColor="@(NewUser.PasswordLowerCase ? Color.Success : Color.Error)" IconSize="Size.Small" Class="py-0">
                                At least one lower case character
                            </MudListItem>
                            <MudListItem Icon="@Icons.Filled.CheckCircleOutline" IconColor="@(NewUser.PasswordUpperCase ? Color.Success : Color.Error)" IconSize="Size.Small" Class="py-0">
                                At least one upper case character
                            </MudListItem>
                            <MudListItem Icon="@Icons.Filled.CheckCircleOutline" IconColor="@(NewUser.PasswordHasNumber ? Color.Success : Color.Error)" IconSize="Size.Small" Class="py-0">
                                At least one number
                            </MudListItem>
                            <MudListItem Icon="@Icons.Filled.CheckCircleOutline" IconColor="@(NewUser.PasswordSpecialChar ? Color.Success : Color.Error)" IconSize="Size.Small" Class="py-0">
                                At least one special character (@("!@#$%^&*"))
                            </MudListItem>
                            <MudListItem Icon="@Icons.Filled.CheckCircleOutline" IconColor="@(NewUser.PasswordsMatch ? Color.Success : Color.Error)" IconSize="Size.Small" Class="py-0">
                                Passwords match
                            </MudListItem>
                        </MudList>
                    </MudItem>
                </MudGrid>

                <MudGrid>
                    <MudItem xs="12" Class="d-flex justify-sm-end justify-center">
                        <MudButton Disabled="@BtnCreateAccount" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="my-3 flex-md-grow-0 flex-grow-1">
                            @if (BtnCreateAccount)
                            {
                                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                                <MudText Class="ms-2">Processing</MudText>
                            }
                            else
                            {
                                <MudText>Create Account</MudText>
                            }
                        </MudButton>
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudItem>
    }
</MudGrid>