@namespace PizzaApp.Components
@using System.ComponentModel.DataAnnotations

<MudGrid>
    @if(IsLoading)
    {
        <MudItem xs="12">
            <MudProgressCircular Color="Color.Success" Indeterminate="true" />
        </MudItem>
    }
    else
    {
        <MudItem xs="12">
            <EditForm @ref="MudForm" OnValidSubmit="CreateAccount" Model="User">
                <DataAnnotationsValidator/>
                <MudGrid>
                    <MudItem xs="12" sm="12" md="6" Class="d-flex align-self-center justify-md-start justify-center">
                        <h1>Create an Account</h1>
                    </MudItem>
                    <MudItem xs="12" sm="12" md="6">
                        <UploadProfilePicture Label="Upload a Profile Picture" ReturnProfilePicture="SetProfilePicture" />
                    </MudItem>
                </MudGrid>
                <MudGrid>
                    <MudItem xs="12" sm="6">
                        <MudTextField Label="First Name" @bind-Value="User.FirstName" For="@(() => User.FirstName)" />
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <MudTextField Label="Last Name" @bind-Value="User.LastName" For="@(() => User.LastName)" />
                    </MudItem>
                </MudGrid>

                <MudGrid>
                    <MudItem xs="12" sm="6">
                        <MudTextField Label="Email" @bind-Value="User.Email" For="@(() => User.Email)" Immediate="true" />
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <MudDatePicker Label="Date of Birth" @bind-Date="User.DateOfBirth" For="@(() => User.DateOfBirth)" />
                    </MudItem>
                </MudGrid>

                <MudGrid>
                    <MudItem xs="12" sm="6">
                        <MudTextField 
                            @bind-Value="User.Password"
                            For="@(() => User.Password)"
                            Label="Password" 
                            Variant="Variant.Text" 
                            InputType="@PasswordInput" 
                            Adornment="Adornment.End" 
                            AdornmentIcon="@PasswordInputIcon" 
                            OnAdornmentClick="TogglePasswordVisibility" 
                            AdornmentAriaLabel="Show Password"
                            Immediate="true"
                        />
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <MudTextField @bind-Value="User.ConfirmPassword" 
                            For="@(() => User.ConfirmPassword)"
                            Label="Confirm Password" 
                            Variant="Variant.Text" 
                            InputType="@PasswordInput" 
                            Adornment="Adornment.End" 
                            AdornmentIcon="@PasswordInputIcon" 
                            OnAdornmentClick="TogglePasswordVisibility" 
                            AdornmentAriaLabel="Show Password" 
                            Immediate="true"
                        />
                    </MudItem>
                </MudGrid>

                <MudGrid>
                    <MudItem xs="12">
                        <MudList Dense="true" Class="ma-0">
                            <MudListItem Icon="@Icons.Filled.CheckCircleOutline" IconColor="@(User.PasswordInRange ? Color.Success : Color.Error)" IconSize="Size.Small" Class="py-0">
                                Between 8 and 30 characters
                            </MudListItem>
                            <MudListItem Icon="@Icons.Filled.CheckCircleOutline" IconColor="@(User.PasswordLowerCase ? Color.Success : Color.Error)" IconSize="Size.Small" Class="py-0">
                                At least one lower case character
                            </MudListItem>
                            <MudListItem Icon="@Icons.Filled.CheckCircleOutline" IconColor="@(User.PasswordUpperCase ? Color.Success : Color.Error)" IconSize="Size.Small" Class="py-0">
                                At least one upper case character
                            </MudListItem>
                            <MudListItem Icon="@Icons.Filled.CheckCircleOutline" IconColor="@(User.PasswordHasNumber ? Color.Success : Color.Error)" IconSize="Size.Small" Class="py-0">
                                At least one number
                            </MudListItem>
                            <MudListItem Icon="@Icons.Filled.CheckCircleOutline" IconColor="@(User.PasswordSpecialChar ? Color.Success : Color.Error)" IconSize="Size.Small" Class="py-0">
                                At least one special character (@("!@#$%^&*"))
                            </MudListItem>
                            <MudListItem Icon="@Icons.Filled.CheckCircleOutline" IconColor="@(User.PasswordsMatch ? Color.Success : Color.Error)" IconSize="Size.Small" Class="py-0">
                                Passwords match
                            </MudListItem>
                        </MudList>
                    </MudItem>
                </MudGrid>

                <MudGrid>
                    <MudItem xs="12" Class="d-flex justify-sm-end justify-center">
                        <MudButton Disabled="@BtnCreateAccount" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="my-3 flex-md-grow-0 flex-grow-1">
                            @if (BtnCreateAccount)
                            {
                                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                                <MudText Class="ms-2">Processing</MudText>
                            }
                            else
                            {
                                <MudText>Create Account</MudText>
                            }
                        </MudButton>
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudItem>
    }
</MudGrid>